.header {
    display: flex;
    background-color: rgb(251, 189, 32);
    justify-content: space-between;
    align-items: center;
    /* color: white; */
    padding-left: 50px;
}

strong {
    font-size: 22px;
    color: rgb(47, 47, 154);
}

ul {
    display: flex;
    cursor: pointer;
}

li {
    list-style: none;
    padding-right: 30px;
}
a{
    text-decoration: none;
    color: brown;
    font-weight: 500;
    font-size: 22px;
}